.blurry {
 filter: blur(4px);
}

body {
  box-sizing: border-box;
}


/* #header {
 background-color: #070522;
 background-image: url(./assets/tech\ bg.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
}


.hero-content {
  margin-top: 20px;
  display: flex;
  align-items: center;
} */


#header {
  background-color: #070522;
  background-image: url(./assets/tech\ bg.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  /* align-items: center;  */
  /* Vertically center the contents */
}

.hero-content {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  text-align: center; /* Center text within the container */
  margin-top: 20px;
}

/* Add some additional styles as needed */


@keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: type 3s steps(50, end);
  animation-fill-mode: forwards;
}

.projLinks a {
 text-decoration: none;
 color: aliceblue;
 justify-content: center;
}

a:hover {
  color: red;
  text-decoration: underline;
}


#myButton {
  position:fixed;
  float: right;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  text-decoration: none;
}



